#hashtag button {
    margin-left: 20px;
    margin-right: 30px;

}

.flex-column {
    max-width: 480px;
}

picture {
    margin: 15px;
    border-radius: 10px;
    padding: 10px;
    border: 1px dashed gray;
}

picture:hover {
    transform: scale(1.05, 1.05);
    background-color: rgb(204, 204, 204);
    border: 1px solid crimson;
    cursor: pointer;
}

/* 14-09-2021 */
a img {
    border: crimson 2px solid;
    border-radius: 10%;
    max-width: 100%;
    max-height: 100%;
    margin: 25px;
    
    filter: blur(1px) grayscale();

    padding: 2px;
}

a img:hover {
    filter: none;
    transform: scale(1.08, 1.08);
}

h4:hover{    
    transform: scale(1.2,1.2); 
}